@model IEnumerable<StudentCourse.Models.StudentDetalj>

@{
    ViewData["Title"] = "Studentlista";
}

<h2>Studentlista</h2>

<p>
    <a asp-controller="StudentCourse" asp-action="InsertStudent">Lägg till ny student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.St_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.St_Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.St_Lastname)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.St_Pnr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.St_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.St_Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.St_Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.St_Pnr)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateStudent", new { id = item.St_Id }) |
                @Html.ActionLink("Delete", "DeleteStudent", new { id = item.St_Id })
            </td>
        </tr>
        }
    </tbody>
</table>

@if (ViewBag.antal != "")
{
    <p>ViewBag.antal innehåller: @ViewBag.antal</p>
}
@if (ViewBag.error != "")
{
    <p>ViewBag.error innehåller: @ViewBag.error</p>
}
