@model IEnumerable<StudentCourse.Models.CourseDetalj>

@{
    ViewData["Title"] = "Kurslista";
}

<h2>Kurslista</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Co_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Co_Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Co_Studyrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Co_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Co_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Co_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Co_Period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Co_Studyrate)
                </td>

                <td>
                    @Html.ActionLink("Edit", "UpdateCourse", new { id = item.Co_Id }) |
                    @Html.ActionLink("Delete", "DeleteCourse", new { id = item.Co_Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="StudentCourse" asp-action="InsertStudent">Lägg till ny student</a>
<br>
<a asp-controller="StudentCourse" asp-action="InsertCourse">Lägg till ny kurs</a>
<br>
<a asp-controller="StudentCourse" asp-action="InsertStudentCourse">Registrera student till kurs</a>
