@model StudentCourse.Models.FiltreringModell

@{
    ViewData["Title"] = "Filtrering";
    int i = 0;
    if (ViewData["Course"] != null) { i = (int)ViewData["Course"]; }
    
}

<h2>Registrerade studenter</h2>

<div class="row">
    <div class="form-group col-md-4">
        <form asp-action="Filtrering">
            <div class="form-group">
                <select class="form-control" id="Course" name="Course">

                    @foreach (StudentCourse.Models.CourseDetalj courseDetalj in Model.CourseDetaljLista)
                    {
                        @if (courseDetalj.Co_Id != i)
                        {
                            <option value="@courseDetalj.Co_Id">@courseDetalj.Co_Name)</option>
                        }
                        else
                        {
                            <option value="@courseDetalj.Co_Id" selected> @courseDetalj.Co_Name </option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Filtrera" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<p>Querystring sortera innehåller: @ViewBag.sortera </p>

<table class="table">
    <tr>
        <th>StudentID</th>
        <th><a href="Sortering?sortera=fornamn">Förnamn</a></th>
        <th>Efternamn</th>
        <th>Pnr</th>
        <th>KursID</th>
        <th>Kurs</th>
        <th>Period</th>
        <th>Studietakt</th>
        <th></th>
    </tr>
    @foreach (StudentCourse.Models.StudentCourseDetalj studentCourseDetalj in Model.StudentCourseDetaljLista)
    {
        <tr>
            <td>@studentCourseDetalj.St_Id</td>
            <td>@studentCourseDetalj.St_Firstname</td>
            <td>@studentCourseDetalj.St_Lastname</td>
            <td>@studentCourseDetalj.St_Pnr</td>
            <td>@studentCourseDetalj.Co_Id</td>
            <td>@studentCourseDetalj.Co_Name</td>
            <td>@studentCourseDetalj.Co_Period</td>
            <td>@studentCourseDetalj.Co_Studyrate</td>
            <td>@Html.ActionLink("Delete", "DeleteStudent", new { id = studentCourseDetalj.St_Id })</td>

        </tr>
    }
</table>

<a asp-controller="StudentCourse" asp-action="InsertStudent">Lägg till ny student</a>
<a asp-controller="StudentCourse" asp-action="InsertCourse">Lägg till ny kurs</a>
